URL Relative Resolution

[RFC 3986 Section 5.2](https://www.rfc-editor.org/rfc/rfc3986#section-5.2) defines how to resolve a URL against a base URL

A `URL` method supporting this would be handy for following redirects via the `Location` header

For comparison, see [OpenJDK's `URI.resolve`](https://github.com/openjdk/jdk/blob/79597f1ea6844f374beeeba219719cd9d5fe7d03/src/java.base/share/classes/java/net/URI.java#L2138) and [akka-http's `Uri.resolveUnsafe`](https://github.com/akka/akka-http/blob/088587fddc6e8d8de924e8126b1361c4ea8ddfdb/akka-http-core/src/main/scala/akka/http/scaladsl/model/Uri.scala#L756)

Currently I am using the following workaround

```scala
def resolve(base: URL, location: String) = {
  for {
    resolved <- ZIO.attempt(base.toJavaURI.resolve(location))
    parsed <- ZIO.fromEither(URL.fromString(resolved.toString))
  } yield {
    parsed
  }
}
```


This should be done in the method `URL#++`, which composes two URLs together.

This ticket can describe ensuring the resolution as implemented currently is compliant with the specified RFC.

I can take this up. 

How about just using the fromString constructor to construct the location URL object then appending them to the base ?  Believe it does all the spec validation as part of the construction.  

```ZIO.fromEither(URL.fromString(location)).map(loc => base ++ loc)```

I think that is not a particularly friendly API and `++`/construction is not compliant with relative resolution. I'm not sure composition via `++` has the same semantics for relative resolution either. Specifically, but not necessarily limited to

- The `Location` header comes back as a `CharSequence`, which means using `fromString` at minimum requires a noisy `toString` call, and at worst an allocation/copy/validation of the contents to make a new `String`
- The RFC specifies removing dot segments, but neither `++` nor construction do so
- The RFC specifies using the reference URL scheme if it's defined, but `++` always uses the base scheme. In fact, if the reference  URL is absolute the final result should be the reference URL itself, less the dot segments
- The RFC requires the base URL be absolute, but `++` does not
- The RFC includes in the result either the base or the reference query parameters, but `++` combines them
- The RFC specifies that base and reference paths are merged only when the reference path is relative, and merging involves ignoring the final component of the base path (among other rules), but `++` always appends them
- The RFC specifies the fragment always comes from the reference URL but `++` prefers the base fragment

I think the ideal API is something like `base.resolve(response.headers.location)`, and it'd be nice to be as close to that as possible, making some concessions for proper error handling

I think `URL#resolve(...)` makes sense.