CORS middleware header `access-control-allow-headers` is broken 

With the current zio-http code from `main` branch (v2.0.0-RC10 doesn't have this bug) browsers can't parse `access-control-allow-headers` and fail to process cross-origin requests. 
Chrome fails with an error: "Cannot parse Access-Control-Allow-Headers response header field in preflight response."

It happens because the header value is quoted and browsers consider everything in quotes as a header name. 
E.g.  `access-control-allow-headers: "content-type,authorization,*"` - `content-type,authorization,*` is considered a header name, which fails to parse.

Pull request https://github.com/dream11/zio-http/pull/1355 added ability to specify multiple headers with the same name
(by switching from `headers.set` to `headers.add`) which is good, but it also switched from `DefaultHttpHeaders` to `CombinedHttpHeaders` 
which tries to combine multiple headers into one. This has 2 consequences:

- developers that use zio-http aren't able to specify that they really want 2 headers sent unless this is a special case (such as Set-Cookie), `CombinedHttpHeaders` will forcibly compress them into a single
header with multiple values
- values containing comas will be quoted even if there's just one header with such name - so, during the encoding the `access-control-allow-headers: content-type,authorization,*` header 
will become `access-control-allow-headers: "content-type,authorization,*"` which can't be parsed by the browser.




Ran into same issue when trying to bump zhttp version for Tapir - fortunately they had tests for this case and they failed.
```
 List(
  access-control-allow-origin: *, 
  access-control-allow-methods: "HEAD, PUT, GET, POST, DELETE", 
  access-control-allow-headers: X-Foo, 
  vary: "Access-Control-Request-Method,  Access-Control-Request-Headers"
) 

did not contain all of (
  Access-Control-Allow-Origin: *, 
  Access-Control-Allow-Methods: HEAD, PUT, GET, POST, DELETE, 
  Access-Control-Allow-Headers: X-Foo, 
  Vary: Access-Control-Request-Method, Access-Control-Request-Headers
) 
```

@paul-lysak 
- regarding your point on the limiting the ability of developers to really want to send 2 headers, I do not consider it a problem or a limitation as the implementation is reflecting the RFC linked in the original PR.
- the quotation it is a problem and I'm currently looking into it.

Ok, I agree that the first point is irrelevant due to RFC9110 section 5.3: `a sender MUST NOT generate multiple field lines with the same name in a message`. 

@paul-lysak  looking more deeper into the issue, CombinedHttpHeaders is affecting only the CORS functionality as, in our CORS implementation we are already merging the values of the headers into a new a single one, where the values are separated by comma, hence the encoding will escape the  value. Currently working to update the open PR.